<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Pyramid Security</title>
    <meta name="author" content="Ramsin Khoshabeh">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> Successfully Logged In! </h1>
    </div>

    <section class='padding-responsive'>

      <h1 class='bordered'> Welcome! </h1>
      <h2 class=''> {{user}} </h2>

    </section>

  </body>
</html>